<?xml version="1.0" ?>
<boinc>
    <config>
	
    <recaptcha_public_key>6Ld7yxATAAAAALjKbqLJXyhULJdo495_zAOqnBde</recaptcha_public_key>
    <recaptcha_private_key>6Ld7yxATAAAAABqR8kSnaLGhB-5fgwIDwUYfwQbn</recaptcha_private_key>
	
        <upload_dir>/home/boincadm/goofyx_grid_nci/upload</upload_dir>
        <send_result_abort>1</send_result_abort>
        <long_name>GoofyxGrid@Home NCI</long_name>
        <sched_debug_level>1</sched_debug_level>
        <cache_md5_info>1</cache_md5_info>
        <upload_url>http://nci.goofyxgridathome.net/goofyx_grid_nci_cgi/file_upload_handler</upload_url>
        
        <uldl_dir_fanout>1024</uldl_dir_fanout>
        <download_url>http://nci.goofyxgridathome.net/download</download_url>
        <db_user>boincadm</db_user>
        <log_dir>/home/boincadm/goofyx_grid_nci/log_ggNCI</log_dir>
        <app_dir>/home/boincadm/goofyx_grid_nci/apps</app_dir>
        <download_dir>/home/boincadm/goofyx_grid_nci/download</download_dir>
        <fuh_debug_level>1</fuh_debug_level>
        <master_url>http://nci.goofyxgridathome.net/</master_url>
        <host>ggNCI</host>
        <db_name>goofyx_grid_nci</db_name>
		
        <shmem_key>0x1111db04</shmem_key>
		<feeder_query_size>5000</feeder_query_size>
		<shmem_work_items>5000</shmem_work_items>
		
        <show_results>1</show_results>
        <key_dir>/home/boincadm/goofyx_grid_nci/keys/</key_dir>
        <dont_generate_upload_certificates>1</dont_generate_upload_certificates>
        <ignore_upload_certificates>1</ignore_upload_certificates>
        <db_passwd>boincadm_Haslo123</db_passwd>
        <min_sendwork_interval>6</min_sendwork_interval>
<db_host>127.0.0.1</db_host>

        <daily_result_quota>500</daily_result_quota>
        <one_result_per_user_per_wu>0</one_result_per_user_per_wu>
        <max_wus_to_send>50</max_wus_to_send>		
		
		<disable_account_creation_/>		
		<disable_account_creation_rpc_/>
		<disable_team_creation_/>
        <disable_web_account_creation_/>
		<disable_account_creation_/>
		
    <resend_lost_results>1</resend_lost_results>
    <send_result_abort>1</send_result_abort>

    <prefer_primary_platform>1</prefer_primary_platform>

    <httpd_user>boincadm</httpd_user>
	
    <credit_by_app/>
    <dont_store_success_stderr/>
	
    <non_cpu_intensive>1</non_cpu_intensive>
		
    <next_rpc_delay>600</next_rpc_delay>
    <maintenance_delay>900</maintenance_delay>
		
  </config>
  
  <tasks>
    <task>
      <cmd>antique_file_deleter -d 1</cmd>
      <period>1 hours</period>
      <disabled>0</disabled>
      <output>antique_file_deleter.out</output>
    </task>
    <task>
      <cmd>db_dump -d 1 --dump_spec ../db_dump_spec.xml</cmd>
      <period>1 hour</period>
      <disabled>0</disabled>
      <output>db_dump.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_uotd.php</cmd>
      <period>1 days</period>
      <disabled>0</disabled>
      <output>update_uotd.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_forum_activities.php</cmd>
      <period>1 hour</period>
      <disabled>0</disabled>
      <output>update_forum_activities.out</output>
    </task>
    <task>
      <cmd>update_stats</cmd>
      <period>1 hour</period>
      <disabled>0</disabled>
      <output>update_stats.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_profile_pages.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>update_profile_pages.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./team_import.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>team_import.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./notify.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>notify.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./badge_assign.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>badge_assign.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./badge_assign_custom.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>badge_assign_custom.out</output>
    </task>
   <task>
      <cmd>run_in_ops ./decay_credit_by_app.php</cmd>
      <output>decay_per_app_credit.out</output>
      <period>1 day</period>
    </task>
   <task>
      <cmd>run_in_ops ./delete_spammers.php --profiles --forums --teams</cmd>
      <output>delete_spammers.out</output>
      <period>1 hour</period>
      <disabled>0</disabled>
    </task>
   </tasks>
    <daemons>
	
   <daemon>
      <cmd>feeder -d 1 --purge_stale 15 --priority_order_create_time --allapps</cmd>
      <disabled>0</disabled>
    </daemon>
        <daemon>
            <cmd>transitioner -d 1 </cmd>
            <disabled>0</disabled>
        </daemon>
        <daemon>
            <cmd>file_deleter -d 1 </cmd>
            <disabled>0</disabled>
        </daemon>
        <daemon>
            <cmd>db_purge -d 1 --no_archive --min_age_days 5</cmd>
            <disabled>0</disabled>
        </daemon>
		
	<daemon>
      <cmd>monkeys_v1_validator -d 1 --credit_from_wu --app monkeys_v1</cmd>
      <disabled>0</disabled>
    </daemon>
    <daemon>
      <cmd>monkeys_v1_assimilator -d 1 --app monkeys_v1</cmd>
      <disabled>0</disabled>
    </daemon>   
    
   <daemon>
      <cmd>monkeys_v2_validator -d 1 --credit_from_wu --app monkeys_v2</cmd>
      <disabled>0</disabled>
    </daemon>
    <daemon>
      <cmd>monkeys_v2_assimilator -d 1 --app monkeys_v2</cmd>
      <disabled>0</disabled>
    </daemon> 
    
    <daemon>
      <cmd>monkeys_v3_validator -d 1 --credit_from_wu --app monkeys_v3</cmd>
      <disabled>0</disabled>
    </daemon>
    <daemon>
      <cmd>monkeys_v3_assimilator -d 1 --app monkeys_v3</cmd>
      <disabled>0</disabled>
    </daemon>  
       
   
    <daemon>
      <cmd>monkeys_v4_validator -d 1 --credit_from_wu --app monkeys_v4</cmd>
      <disabled>0</disabled>
    </daemon>
    <daemon>
      <cmd>monkeys_v4_assimilator -d 1 --app monkeys_v4</cmd>
      <disabled>0</disabled>
    </daemon>	
		
		
    </daemons>
</boinc>

